<div>
    <h4><a href="./Siren-SIGMOD.pdf">As a PDF</a></h4>
    <h4><a href="../main/">Main Siren webpage</a></h4>
    <h4><a href="../help/">User Guide</a></h4>
</div>
<div class="logo">
  <p class="logo"><a href="{{ pathto(master_doc)|e }}">
    <img class="logo" src="{{ logo_url|e }}" alt="{{ logo_alt|e }}"/>
  </a></p>
</div>
